@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ccc;
    .tudo{
        position: relative;
        .menu{
            position: fixed;
            z-index: 100000;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            background-color: #467859;
            height: 10vh;
            header{
                color: #fff;
            }
            nav{
                .menu__list{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    .menu__list__item{
                        list-style: none;
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .title{
    padding-top: 10vh;
    .title__div{
        background: #fbfdff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        .title__profile{
            width: 300px;
            border-radius: 50%;
            margin-bottom: 50px;
            border: 5px solid #467859;
        }
        .title__container{
            .title__bio{
                font-size: 30px;
                span{
                    color: #467859;

                }
            }
            .title__network{
                display: flex;
                gap: 5%;
                justify-content: center;
                margin-top: 5%;
                .title__network__item{
                    list-style: none;
                    width: 110px;
                    height: 30px;
                    background: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                    }
                }
                .title__network__item:nth-child(1){
                    background: #474545 ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }
                .title__network__item:nth-child(2){
                    background: #474545  ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }
                .title__network__item:nth-child(3){
                    background: #474545  ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }  
                .title__network__item:nth-child(4){
                    background: #474545 ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                } 
            }
        }
        
    }
    
    }
    .about{
        position: absolute;
        background: #fbfdff;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        .about__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 75%;
            background-color: #dfe7e7;
            justify-content: center;
            padding: 20px;
            border-radius: 50px;
            .about__title{
                font-size: 40px;
                margin-bottom: 50px;
            }
            .about__paragraph{
                font-size: 18px;
            }
        
    }
    }
    .skills{
        margin-top: 100px;
        padding-top:50vh;
        display: flex;
        flex-direction: column;
        background: red;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 850px;
        
        
        

        .skills__title{
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
            
        }
        .skills__line{
        display: flex;
        height: 80%;
        background: blue;
        width: 75%;
        gap: 5%;
        
        
        justify-content: center;
            .skills__box{
                height: 150px;
                width: 150px;
                background: green;
                border-radius: 25px;
                
            }
        }
    }
}

