@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
    background: #fbfdff;
    .tudo{
        position: relative;
        .menu{
            position: fixed;
            z-index: 100000;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            background-color: #467859;
            height: 10vh;
            header{
                color: #fff;
            }
            nav{
                .menu__list{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    .menu__list__item{
                        list-style: none;
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .title{
    padding-top: 10vh;
    .title__div{
        background: #fbfdff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        .title__profile{
            width: 300px;
            border-radius: 50%;
            margin-bottom: 50px;
            border: 5px solid #467859;
        }
        .title__container{
            .title__bio{
                font-size: 30px;
                span{
                    color: #467859;

                }
            }
            .title__network{
                display: flex;
                gap: 5%;
                justify-content: center;
                margin-top: 5%;
                .title__network__item{
                    list-style: none;
                    width: 110px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                    }
                }
                .title__network__item:nth-child(1){
                    background: #474545 ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }
                .title__network__item:nth-child(2){
                    background: #474545  ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }
                .title__network__item:nth-child(3){
                    background: #474545  ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                }  
                .title__network__item:nth-child(4){
                    background: #474545 ;
                    border-radius: 20px;
                    a{
                        color: #fff;
                    }
                } 
            }
        }
        
    }
    
    }
    .about{
        position: absolute;
        background: #fbfdff;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        .about__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 75%;
            background-color: #dfe7e7;
            justify-content: center;
            padding: 20px;
            border-radius: 50px;
            .about__title{
                font-size: 40px;
                margin-bottom: 50px;
            }
            .about__paragraph{
                font-size: 18px;
            }
        
    }
    }
    .skills{
        margin-top: 100px;
        padding-top:50vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100vh;
        margin-bottom: 250px;

        .skills__title{
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
        }
        .skills__line{
        display: flex;
        height: 80%;
        width: 75%;
        gap: 5%;
        align-items: center;
        justify-content: center;
            .skills__box{
                height: 150px;
                width: 150px;
                background: #dfe7e7;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 25%;
                border-top-left-radius: 25%;
                border-top-right-radius: 10%;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                ul{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    list-style: none;
                    .skills__img{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        img{
                            justify-content: center;
                        }
                    }
                }
                
            }
        }
    }
    .academic{
        background-color: #dfe7e7;
        position: relative;
        width: 75%;
        height: 350px;
        margin: auto;
        border-radius: 50px;
        .academic__bx{
            background-color: #dfe7e7;
            height: 24%;
            width: 100%;
            border-radius: 50px;
            justify-content: center;
            align-items: center;    
            position: absolute;
            display: flex;
            top: -40px;
            left: 0 ;
            h2{
                text-align: center;
                font-size: 40px;
                color: #000;
                width: 100%;
                
            }
        }
      
        .academic__courses{
        background: #dfe7e7;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        margin: auto;
        gap: 5%;
        height: 90%;
        border-bottom-left-radius:  50px;
        border-bottom-right-radius: 50px;
            .academic__courses__box{
                background-color: #fff;
                height: 70%;
                width: 45%;
                flex-direction: row;
                border-radius: 20px;
                .academic__courses__list{
                    list-style: none;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-evenly;
                    width: 100%;
                    align-items: center;
                    height: 100%;
                    padding: 20px;
                    .academic__courses__item__title{
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
   
    .proyectos {
        .proyectos__title{
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
        }
        margin-top: 100px;
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: 25%;
      
        .imagen-contenedor {
          position: relative;
          overflow: hidden;
          border-radius: 20px;
          margin-bottom: 50px;
      
          img {
            width: 100%;
            display: block;
          }
      
          .imagen-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5); // Color de fondo negro con opacidad 50%
            color: #fff;
            padding: 20px;
            transform: translateY(100%); // Inicialmente ocultamos el contenido por debajo
            transition: transform 0.8s ease; // Efecto de transición suave
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; // Centra el contenido verticalmente
      
            h2, p {
              margin: 0; // Elimina márgenes por defecto para un centrado preciso
            }
      
            .iconos {
              display: flex;
              justify-content: center; // Centrar horizontalmente
              gap: 10px; // Espacio entre íconos
              width: 70px;
      
              a {
                transition: transform 0.3s ease;
                &:hover {
                  transform: scale(1.1); // Efecto de "zoom" al pasar el ratón
                  }
                }
              }
              
            }
          }
      
          &:hover .imagen-info {
            transform: translateY(0); // Al pasar el ratón, mostramos el contenido
          }
        }
      }
      
    .formcontato{
        height: 100vh;
        display: flex;
        margin-top: 200px;

        .formcontato__contacto{
            height: 80%;
            width: 50%;
            margin: 0 auto;
            margin-top: 120px;
            .formcontato__text{
                height: 100%;
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                .caja{
                    height: 20%;
                    width: 100%;
                    justify-content: center;
                    align-items: start;
                    display: flex;
                }
                .formcontato__title{
                    font-size: 40px;
                    text-align: center;
                    height: 20%;
                }
                .formcontato_form{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    height: 80%;
                    width: 100%;
                    background-color: #e0e7e7;
                    padding: 5%;
                    margin: auto;
                    border-radius: 20px;
                    .formcontato__input{
                        border: none;
                        outline: none;
                        border-bottom: 2px solid #467859;
                        padding: .6rem .3em;
                        font-size: 1rem;
                        background: none;
                    }
                    .formcontato__textarea{
                        border: none;
                        resize: none;
                        outline: none;
                        border-bottom: 2px solid #467859;
                        padding: .6rem .3em;
                        font-size: 1rem;
                        background: none;
                    }
                    .formcontato__botao{
                        height: 50px;
                        font-size: 1rem;
                        font-weight: bold;
                        background-color: #467859;
                        border-radius: 10px;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
    .footer{
        margin-top: 50px;
        height: 120px;
        width: 100%;
        background: #e0e7e7; 
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer__rodape{
            font-size: 1rem;
            font-weight: bold;
        }
        

    }

    @media (max-width:428px){
        .tudo{
            .menu{
                .menu__list{
                    .menu__list__item{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .title{
            .title__div{
                margin-bottom: 200px;
                .title__container{
                    .title__bio{
                        font-size: 20px;
                        align-items: center;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                    .title__network{
                        display: flex;
                        flex-wrap: wrap;
                        width: 75%;
                        justify-content: center;
                        align-items: center;
                        margin-left: 12.5%;
                        .title__network__item{
                            width: 100%;
                            height: 100px;
                            margin-bottom: 10px;

                            a{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
        .about{
            .about__container{
                height: 100vh;
                width: 100vw;
                .about__title{
                    font-size: 20px;
                }
                .about__paragraph{
                    font-size: 10px;
                }
            }
        }
        .skills{
            .skills__title{
                font-size: 20px;
            }
            .skills__line{
                height: 200vh;
                display: flex;
                flex-direction: column;
                .skills__box{
                    height: 100px;
                    width: 100px;
                    .skills__img{
                        img{
                            width: 50%;
                        }
                    }
                }
            }
        }
        .academic{
            .academic__courses{
                .academic__courses__box{
                    .academic__courses__list{
                        .academic__courses__item__title{
                            p{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
        .proyectos{
            .proyectos__title{
                font-size: 20px;
            }
            .imagen-contenedor{
                height: 50vh;
            }
        }
        .formcontato{
            .formcontato__contacto{
                width: 75%;
                .formcontato__text{
                    
                    .caja{
                        height: 10%;
                    }
                    .formcontato__title{
                        font-size: 20px;
                    }
                    .formcontato_form{
                        .formcontato__input{
                            font-size: 10px;
                        }
                        .formcontato__textarea{
                            font-size: 10px;
                        }
                        .formcontato__botao{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .footer{
            height: 75px;
            .footer__rodape{
                font-size: 10px;
            }
        }
    }